---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import aboutImg from "~/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Ciao, sono Fabrizio e il mio primo collegamento Internet risale al 1997. All'epoca avevo solo dieci anni e ora credo di avere un'idea abbastanza chiara di cosa sia.
		</p>
	</div>
</PageLayout>
